{% extends 'appointment/base.html' %}

{% block content %}

<div>
<table class = "meeting-list">
    <tr>
        <th>Subject</th>
        <th>Date</th>
        <th>Location</th>
        <th>Time</th>
        <th>Detail</th>
    </tr>
    {% for meet in meeting %}
    <tr>
        <td>{{meet.subject}}</td>
        <td>{{ meet.start_time|date:"D d M" }}</td>
        <td> {{ meet.location }}</td>
        <td>{{meet.start_time|time:"P"}}</td>
        <td><a href="{% url 'appointment:detail' meet.id%}" class="btn btn-outline-info" role="button">see more</a></td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}