boto3==1.16.28    
botocore==1.19.28 
certifi==2020.11.8
coverage==5.3
dj-database-url==0.5.0
Django==3.1
django-cleanup==5.1.0
django-crispy-forms==1.9.2
django-environ==0.4.5
django-extensions==3.1.0
django-heroku==0.3.1
django-storages==1.10.1
gunicorn==20.0.4
Pillow==6.1.0
psycopg2==2.8.6
python-decouple==3.3
s3transfer==0.3.3
virtualenv==20.2.1
whitenoise==5.2.0