.alert {
    opacity: 1;
    transition: opsacity 0.6s; /* 600ms to fade out */
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.page-name{
    color: white;
}
.calendar {
width: 98%;
margin: auto;
font-size: 13px;
}

.calendar tr, .calendar td {
border: 1px solid black;
}

.calendar th {
padding: 10px;
text-align: center;
font-size: 18px;
}

.calendar td {
width: 200px;
height: 150px;
padding: 0px 0px 0px 5px;
}

.month {
font-size: 25px;
}

.date {
font-size: 16px;
}

ul {
height: 100%;
padding: 0px 5px 0px 20px;
}

body {
padding-top: 65px;
}

.meeting_list {
margin: auto;
width: 100%;

}

.meeting_list th{
color: palevioletred;
font-size: 25px;
}

.meeting_list td{
padding-top: 15px;
font-size: 20px;
}

.detail p {
font-size: 22px;
padding-top: 15px;
}
.box{
margin-bottom: 40px;
}

.detail-container{
/* border: 1px solid black; */
font-size: 22px;
margin-bottom: 10px;
margin-top: 10px;
}
.btn-primary, .btn-danger, .btn-info{
margin: 10px 0px 10px 0px;
}

